{
  "presets": [
    [
			"@babel/preset-env", {
				"targets": {
					"chrome": "67"
				},
				"useBuiltIns": "usage"
			}
		],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["import", {"libraryName": "antd", "style": true}],
    ["dynamic-import-webpack"]  // 异步代码(import)
  ]
}
