.react {
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 50px;
    color: pink;
    font-weight: bold;
    text-align: center;
  }
  img {
    border-radius: 50%;
  }
}